/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);*/


h1 {
	font-weight: 400;
	letter-spacing: -1px;
}

p {
	font-size: 20px;
}

body {
	/* padding-right: 80px; */
	/* padding-left: 80px; */
	padding-top: 20px;
	color: #003366;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a {
	/* font-size: 20px; */
	color: #003366;
}
a:link{
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover{
	opacity: 0.5;
}

li {
	display: inherit;
	padding-bottom: 15px;
	font-size: 17px;
}

ul {
	padding-left: 0em;
}

.container {
	margin: 0 auto;
	display: block;
	padding-top: 30px;
	/* width: 550px; */
	padding-left: 2em;
	padding-right: 3em;
}

.links {
	padding-top: 20px;
	padding-bottom: 20px;
	/* align-items: center; */
	text-align: center;
	font-size: 22px;
	display: block;
}

.bio {
	line-height: 1.3;
}

@media screen and (max-width:768px) {
  .container {
		padding-left: 1em;
		padding-right: 1em;
	}

	body {
		padding-left: 0px;
		padding-right: 0px;
	}

}

@media screen and (min-width:768px) {
  .container {
		padding-left: 50px;
		padding-right: 50px;
		width: 550px;
	}

	body {
		padding-left: 80px;
		padding-right: 80px;
	}

}
